body {
    background: #fafafa;
}


#about {
    padding:24px;
    margin-top: 20vh;
    width: 60%;
    background: white;
    color: #5c5c5c;
    margin: auto;
    text-align: center;
}

#about #head {
    font-weight: lighter;
    color: #5c5c5c;
    font-size: 28px;
    letter-spacing: 4px;
}

#about p {
    text-align: start;
    margin: 0px 24px 0px 24px;
    font-weight: normal;
    word-spacing: 5px;
    font-size: 16px;
    color: #5c5c5c;
}

#about img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

@media(max-width:500px){
    #about {
        width: 90%;
    }
}

#datas {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    justify-content: center;
    margin:auto;
    width: 90%;
}

.info {
    max-width: 89%;
    padding: 24px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}